<h1 class="mb-4 text-center">Créer une liste </h1>

<div class="container mt-4">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-sm p-4">
      <%= simple_form_for(@list, html: { class: "needs-validation" }) do |f| %>

        <div class="mb-3">
          <%= f.input :name, input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
        </div>

        <div class="text-center">
          <%= f.submit "Enregistrer", class: "btn btn-primary"  %>
        </div>

      <% end %>
    </div>
  </div>
</div>
